@{
    ViewBag.Title = "GovHack2016 - TeamOf4";
}
@section scripts {
    <script src="~/Scripts/bundles/app.bundle.js"></script>
}

<header>
    <h1>GovHack2016 - The Code Collective</h1>
</header>

<div id="app"></div>