h1 {
	text-align: center;
}
h2, .h2 {
	margin-top: 2em;
}
h3 {
	/* These are currently only for the title for canvases / charts */
	text-align: center;
	font-size: 1.25rem;
}
.table {
	margin-top: 2em;
}
.row {
	margin-top: 2em;
}
.row .col-xs-6 {
	margin-bottom: 1em;
}
.number-medium {
	text-align: center;
	line-height: 1.2;
}
.number-medium .number {
	font-weight: bold;
	font-size: 2em;
}
.score {
	text-align: center;
}
.score .number {
	font-weight: bold;
	font-size: 2em;
}
.canvas {
	margin-top: 1em;
}

.column-number {
	width: 8em;
	text-align: center;
}
td.column-number {
}

.sentence-text {
	margin-right: .5em;
	margin-bottom: 1rem;
}
.sentence-tag.tag {
	margin-bottom: 1rem;
	padding: .5rem;
	margin-right: .5rem;			
}
.sentence-tag .fa {
	margin-left: .5rem;
}
