h1 {
	text-align: center;
}
h2, .h2 {
	margin-top: 2em;
}
h3 {
	/* These are currently only for the title for canvases / charts */
	text-align: center;
	font-size: 1.25rem;
}
.table {
	margin-top: 2em;
}
.row {
	margin-top: 2em;
}
.row .col-xs-6 {
	margin-bottom: 1em;
}
.number-medium {
	text-align: center;
	line-height: 1.2;
}
.number-medium .number {
	font-weight: bold;
	font-size: 2em;
}
.score {
	text-align: center;
	line-height: 1.2;
}
.score .number {
	margin-top: 10px;
	display: inline-block;
	width: 100px;
	height: 100px;
/*	padding: 35px 25px 15px 25px;*/
	padding-top: 14px;
	border-radius: 50px;
	border: 7px solid #5cb85c;
	font-weight: bold;
	font-size: 3em;
	background-color: #5cb85c;
	color: white;
}
.donut-wrapper {
	margin: 20px auto;
	width: 150px;
	height: 150px;
	position: relative;
}
.donut-wrapper .donut-background {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 144px;
	height: 144px;
	border: 2px solid #c4c4c4;
	border-radius: 75px;
}
.donut-wrapper .donut {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	z-index: 1;
}
.donut-wrapper .donut-score {
	display: inline-block;
	margin: 40px auto;
	width: 138px;
	text-align: center;
	color: #4c3f6c;
	line-height: 1.2;
	font-weight: 600;
}
.donut-wrapper .donut-score strong {
	display: block;
	font-weight: 800;
	font-size: 44px;
}
.canvas {
	margin-top: 1em;
}

.column-number {
	width: 8em;
	text-align: center;
}
td.column-number {
}

.sentence-text {
	margin-right: .5em;
	margin-bottom: 1rem;
}
.sentence-tag.tag {
	margin-bottom: 1rem;
	padding: .5rem;
	margin-right: .5rem;
}
.sentence-tag .fa {
	margin-left: .5rem;
}
