<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GovHack 2016 - Future Proof</title>

    <link rel="icon" href="~/Content/icon.png" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">

    <script src="//cdn.polyfill.io/v2/polyfill.min.js?features=default|gated,fetch|gated"></script>    
</head>
<body>
    <div class="container">
        
        <div class="header clearfix m-b-2" style="border-bottom: .05rem solid #e5e5e5;">
            <h3 class="text-muted">Future Proof</h3>
        </div>
               
        <div class="m-b-2">
            @RenderBody()
        </div>
        
        <footer class="footer p-t-1 p-b-1" style="border-top: .05rem solid #e5e5e5;">
            <p><a href="http://https://github.com/madaz/govhack2016" target="_self">GitHub</a> |  <a href="https://2016.hackerspace.govhack.org/content/future-proof" target="_self">Hackerspace</a></p>
        </footer>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
        
    @RenderSection("scripts", required: false)
</body>
</html>
